/target
/grails-app/conf/hibernate
/grails-app/conf/spring
/grails-app/views
/grails-app/i18n
/grails-app/services
/grails-app/taglib
/grails-app/utils
/src
/lib
/scripts
/web-app
.settings
*.iws
*.log
*.xml
*.zip
eclipse
target-eclipse